<div class="p-grid">
  <div class="p-col">
    <p-card header="Serverlist">
      <button pButton label="Check SSH Connections" (click)="checkConnections()" style="float: right;" class="ui-button-info"></button>
      <button pButton label="Clean up servers" (click)="cleanServers()" style="float: right; margin-right: 10px;" class="ui-button-warning"></button>
      <button pButton label="Add Server" (click)="addServerDialogVisible = true"></button>
      <p-table [value]="servers" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 200px;">
              Server <br>
              <small>Click to open</small>
            </th>
            <th>Displayname</th>
            <th>Customer</th>
            <th style="width: 70px;">Hoster</th>
            <th>IP</th>
            <th *ngIf="!selectedServer" style="width: 50px; font-size: 10px; padding: 2px">Instances</th>
            <th *ngIf="!selectedServer">Last Message</th>
            <th style="width: 70px;" *ngIf="isConnectionTest()">SSH</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-server>
          <tr>
            <td (click)="selectedServer = server" style="cursor: pointer;">{{server.serverName}}</td>
            <td>{{server.displayName}}</td>
            <td>{{server.customer}}</td>
            <td>{{server.hoster}}</td>
            <td><a [href]="'sftp://root@' + server.ip | safeUrl">{{server.ip}}</a></td>
            <td *ngIf="!selectedServer">{{server.instances?.length}}</td>
            <td *ngIf="!selectedServer">{{server.modified | date}}</td>
            <td *ngIf="isConnectionTest()">
              <span class="fas fa-check" *ngIf="connections[server.id] === 'connected'" style="color: green;"></span>
              <span class="fas fa-times" *ngIf="connections[server.id] === 'no_connection'" style="color: red;"></span>
              <span class="fas fa-times" *ngIf="connections[server.id] === 'disabled'" style="color: grey;" title="Active Checks disabled"></span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="p-col-6" *ngIf="selectedServer" style="position:relative;">
    <p-card [header]="selectedServer.serverName + ' - ' + selectedServer.ip">
      <div style="position: absolute; right: 10px; top: 10px;">
        <button pButton label="Test SSH Connection" class="ui-button-info" (click)="testConnection(selectedServer)" style="margin-right: 10px;"></button>
        <button pButton label="Delete" class="ui-button-danger" (click)="deleteServer(selectedServer)" style="margin-right: 10px;"></button>
        <button pButton label="Blacklist" class="ui-button-danger" title="Server will not be deleted but blacklisted and hidden." (click)="blacklistServer(selectedServer)"></button>
        <button pButton label="Close" class="ui-button-secondary" (click)="clearSelectedServer()"></button>
      </div>
      <p-accordion [multiple]="true" [activeIndex]="[0]">
        <p-accordionTab header="Information">
          <form-row label="ID" [(ngModel)]="selectedServer.id" editable="false"></form-row>
          <form-row label="Displayname" [(ngModel)]="selectedServer.displayName"></form-row>
          <form-row label="Customer" [(ngModel)]="selectedServer.customer"></form-row>
          <form-row label="Hoster" [(ngModel)]="selectedServer.hoster"></form-row>
          <form-row label="Whitelisted" [(ngModel)]="selectedServer.whitelisted" type="checkbox"></form-row>
          <form-row label="Disable active Checks" [(ngModel)]="selectedServer.activeCheckDisabled" type="checkbox"></form-row>
          <button pButton label="Save" (click)="save(selectedServer)"></button>
        </p-accordionTab>
        <p-accordionTab header="Instances">
          <app-instance-table [instances]="selectedServer.instances" [initialColumns]="['prod', 'type', 'identifier', 'status']"></app-instance-table>
        </p-accordionTab>
        <p-accordionTab header="Apache URLs">
          <button pButton label="Update" (click)="updateApacheConfs(selectedServer)"></button>
          <p-table [value]="selectedServer.apacheConfs">
            <ng-template pTemplate="header">
              <tr>
                <th>URL</th>
                <th style="width: 60px;">HTTP</th>
                <th style="width: 60px;">HTTPS</th>
                <th>
                  <button pButton label="Ping" (click)="pingUrls(selectedServer, 'apache')"></button>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conf>
              <tr [title]="conf.filenames | json">
                <td>{{conf.url}}</td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.http" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.http" style="color: orange;"></span>
                </td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.https" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.https" style="color: red;"></span>
                </td>
                <td>
                  <span [style.color]="ipResponses[conf.url]?.matchesServer ? 'green' : 'red'">{{ipResponses[conf.url]?.ip}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
        <p-accordionTab header="XibisOne Domains">
          <button pButton label="Update" (click)="updateXibisOneDomains(selectedServer)"></button>
          <p-table [value]="selectedServer.xibisOneDomains">
            <ng-template pTemplate="header">
              <tr>
                <th>URL</th>
                <th>DB</th>
                <th style="width: 60px;">HTTP</th>
                <th style="width: 60px;">HTTPS</th>
                <th>
                  <button pButton label="Ping" (click)="pingUrls(selectedServer, 'xibisone')"></button>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conf>
              <tr [title]="conf.filenames | json">
                <td>{{conf.url}}</td>
                <td>{{conf.database}}</td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.http" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.http" style="color: orange;"></span>
                </td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.https" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.https" style="color: red;"></span>
                </td>
                <td>
                  <span [style.color]="ipResponses[conf.url]?.matchesServer ? 'green' : 'red'">{{ipResponses[conf.url]?.ip}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
        <p-accordionTab header="Combined Domains">
          <button pButton label="Update" (click)="updateCombinedDomainContainers(selectedServer)"></button>
          <p-table [value]="selectedServer.combinedDomains">
            <ng-template pTemplate="header">
              <tr>
                <th>URL</th>
                <th style="width: 80px;">Apache</th>
                <th style="width: 80px;">XibisOne</th>
                <th>Status</th>
                <th>IP</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-conf>
              <tr>
                <td [style.background-color]="getCombinedColor(conf)">{{conf.url}}</td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.inApache" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.inApache" style="color: red;"></span>
                </td>
                <td>
                  <span class="fas fa-check" *ngIf="conf.inXibisOne" style="color: green;"></span>
                  <span class="fas fa-times" *ngIf="!conf.inXibisOne" style="color: red;"></span>
                </td>
                <td [ngSwitch]="conf.pingStatus">
                  <span *ngSwitchCase="'SAME_SERVER'">OK</span>
                  <span *ngSwitchCase="'FOREIGN_SERVER'" style="color: red;">Umzug nach Fremd</span>
                  <span *ngSwitchCase="'OTHER_SERVER'" style="color: orange;">Umzug nach {{conf.actualServerName}}</span>
                  <span *ngSwitchCase="'UNKNOWN_HOST'" style="color: red;">Unknown Host</span>
                </td>
                <td>
                  {{conf.ip}}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-accordionTab>
      </p-accordion>
    </p-card>
  </div>
</div>

<p-card header="Public Demontoo Key">
  <div style="word-break: break-all">
    ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAgW+4SweGageTnkl6UbjQZ29K7rlo/wIJZAO6EtiA4YqneEitN2ikDShjJ+XAdqddPObrZyNbZ9eZdTU4NvbkABG4qWK3YT8MbNDeGDLUsyb2gmaD+ikL8uvuORftiY6vzZtUt41naVW420ZX6M4rrFQKWigNe/TnZYCbxeBQL+H73ohjPpFJguC4OEXJtQIPk97Rm/mYML5VSgkRrJE9xPerfU0XmiNI0I2Fgsi0MgJEuni1pr5Y/pdaTDlz/j+mcN4PD6DW0sONgqfiD3zu8pw/mf0qOuaoO3TrpsFhahO5ehQV84Aa6Eck6zvBB0LAf7qGxIRo8bZNXiplZmls/Q== DeMonToo
  </div>
</p-card>

<p-dialog header="Add Server" [(visible)]="addServerDialogVisible" [style]="{width: '300px'}">
  <form-row label="IP" [(ngModel)]="addedServer.ip"></form-row>
  <p-footer>
    <button pButton label="Save" (click)="addServer()"></button>
  </p-footer>
</p-dialog>

