<div class="p-grid">
  <div class="p-col">
    <p-card header="Serverlist">
      <button pButton label="Server aufräumen" (click)="cleanServers()"></button>
      <p-table [value]="servers" [rowHover]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 250px;">Server</th>
            <th>Displayname</th>
            <th>Customer</th>
            <th style="width: 70px;">Hoster</th>
            <th>IP</th>
            <th style="width: 70px;">Instances</th>
            <th>Last Message</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-server>
          <tr (click)="selectedServer = server" style="cursor: pointer;">
            <td>{{server.serverName}}</td>
            <td>{{server.displayName}}</td>
            <td>{{server.customer}}</td>
            <td>{{server.hoster}}</td>
            <td>{{server.ip}}</td>
            <td>{{server.instances?.length}}</td>
            <td>{{server.modified | date}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div class="p-col-6" *ngIf="selectedServer" style="position:relative;">
    <p-card [header]="selectedServer.serverName + ' - ' + selectedServer.ip">
      <div style="position: absolute; right: 10px; top: 10px;">
        <button pButton label="Delete" class="ui-button-danger" (click)="deleteServer(selectedServer)" style="margin-right: 10px;"></button>
        <button pButton label="Blacklist" class="ui-button-danger" title="Server will not be deleted but blacklisted and hidden." (click)="blacklistServer(selectedServer)"></button>
      </div>
      <p-accordion [multiple]="true" [activeIndex]="[0,1]">
        <p-accordionTab header="Information">
          <form-row label="Displayname" [(ngModel)]="selectedServer.displayName"></form-row>
          <form-row label="Customer" [(ngModel)]="selectedServer.customer"></form-row>
          <form-row label="Hoster" [(ngModel)]="selectedServer.hoster"></form-row>
          <button pButton label="Save" (click)="save(selectedServer)"></button>
        </p-accordionTab>
        <p-accordionTab header="Instances">
          <app-instance-table [instances]="selectedServer.instances" [initialColumns]="['prod', 'type', 'identifier', 'status']"></app-instance-table>
        </p-accordionTab>
      </p-accordion>
    </p-card>
  </div>
</div>

