<p-table #dt [value]="instances" styleClass="ui-table-customers" [rowHover]="true"
         [rows]="150" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,150,250,500]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']" [style]="{'background-color': 'white'}"
         exportFilename="instances" (onRowClick)="handleRowClick($event)">
  <ng-template pTemplate="caption">
    <button type="button" pButton icon="fa-refresh" iconPos="left" label="Refresh Health-Status" (click)="refreshHealth()" style="float:right" class="ui-button-success"></button>
    <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export Data" (click)="dt.exportCSV()" style="float:right" class="ui-button-secondary"></button>
    <div style="text-align:left">
      <p-multiSelect [options]="columnOptions" [(ngModel)]="cols" scrollHeight="545px" styleClass="col-selector"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 50px;"></th>
      <th *ngFor="let col of cols | sortBy:'pos'" [class]="col.class">
        {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let col of cols | sortBy:'pos'">
        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode ? col.filterMatchMode : 'contains')"
               placeholder="Search" class="ui-column-filter">
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-ri="rowIndex">
    <tr class="ui-selectable-row" [class]="lookupRowStyleClass(data)" (click)="handleRowClick(data)">
      <td>
        {{ri + 1}}
      </td>
      <td *ngFor="let col of cols | sortBy:'pos'" [ngSwitch]="col.field">
        <span *ngSwitchCase="'modified'"  [title]="data.lastMessage | date:'dd.MM.yyy &nbsp;&nbsp;HH:mm'">{{data.timeAgo}}</span>

        <div *ngSwitchCase="'domains'">
          <a *ngIf="data.domains && data.domains.length > 0" [href]="'http://' + data.domains[0].url" target="_blank">{{data.domains[0].name}}</a>
          <span style="float:right; color: #aaa;" *ngIf="data.domains.length > 1">[+{{data.domains.length}}]</span>
        </div>

        <div *ngSwitchCase="'prod'">
          <i class="fa fa-check" *ngIf="data.prod"></i>
        </div>

        <div *ngSwitchCase="'type'">
          <img [src]="'data:image/png;base64,' + data.instanceType.image" [alt]="data.instanceType.name" style="max-width: 95px;">
        </div>

        <div *ngSwitchCase="'status'">
          <span *ngIf="!data.status"><span class="fa fa-spinner fa-pulse"></span> Checking </span>
          {{data.status}}
        </div>

        <div *ngSwitchCase="'responseTime'">
          <span [ngStyle]="{ 'color': getColorForResponseTime(data.responseTime)}">{{data.responseTime}}<span *ngIf="data.responseTime">ms</span></span>
        </div>

        <div *ngSwitchCase="'server'">
          {{data.server?.serverName}}
        </div>

        <div *ngSwitchDefault>
          {{data[col.field]}}
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="cols.length + 1" style="text-align:left">Loading instances...</td>
    </tr>
  </ng-template>
</p-table>
