instance tr:hover {
  background-color: aliceblue !important;
}

.col-icon {
  width: 50px;
}

.critical {
  background: red !important;
}

.col-selector .ui-multiselect-panel {
  height: 600px;
  width: 400px;
}
