.col-icon {
  width: 50px;
}

.pending {
  background: lightgrey !important;
}

.critical {
  background: red !important;
}

.testcritical {
  background: #ffcb6d !important;
}

.col-selector .ui-multiselect-panel {
  height: 600px;
  width: 400px;
}
