<div class="ui-g">
  <div class="ui-g-6">
    <p-panel *ngIf="instanceType" header="Details">
      <div class="ui-grid-row">
        <div class="ui-grid-col-5" style="padding: .25em .5em;">
          Image
        </div>
        <div class="ui-grid-col-7">
          <img [src]="'data:image/png;base64,' + instanceType?.image" alt="No Image uploaded"><p-fileUpload mode="basic" name="file" [url]="'/api/instanceType/image/' + instanceType?.id" accept="image/*" maxFileSize="1000000" auto="true" chooseLabel="Change" (onUpload)="onUploadFinished($event)"></p-fileUpload>
        </div>
      </div>
      <form-row [(ngModel)]="instanceType.messageInterval" [editable]="true" label="Message-Interval in minutes" (submitted)="save()"></form-row>
      <form-row [(ngModel)]="instanceType.appType" [editable]="true" label="App-Type" (submitted)="save()" [options]="['SPRING_BOOT', 'OTHER']"></form-row>
      <div *ngIf="instanceType.appType === 'OTHER'">
        <form-row [(ngModel)]="instanceType.healthUrl" [editable]="true" label="Heath-URL" (submitted)="save()"></form-row>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel *ngIf="instanceType" header="">
      <p-header>
        Deployment
        <a [href]="'/api/instanceType/deploy/' + instanceType.id" target="_blank" style="float: right;">Deploy</a>
      </p-header>
      <form-row [(ngModel)]="instanceType.updatePath" [editable]="true" label="Update-Path" (submitted)="save()"></form-row>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <form-row [(ngModel)]="instanceType.updateFileName" [editable]="true" label="Aktuelle Updatedatei" (submitted)="save()">
            <ng-template>
              {{instanceType.updateFileName}} <span (click)="changeFile = true;" style="cursor: pointer; color: blue;">Ändern</span>
            </ng-template>
          </form-row>
        </div>
      </div>
      <div class="ui-grid-row" style="padding-left: 8px;" *ngIf="changeFile">
        <div class="ui-grid-col-12">
          <p-fileUpload name="file" [url]="'/api/instanceType/update/' + instanceType?.id" maxFileSize="100000000" chooseLabel="Upload new Update" (onUpload)="onUploadFinished($event)"></p-fileUpload>
        </div>
      </div>
    </p-panel>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable [value]="instanceType.instances" #dt class="instance-list" exportFilename="instances" (onRowClick)="handleRowClick($event)" [rowStyleClass]="lookupRowStyleClass">
      <p-header>
        <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export Data" (click)="dt.exportCSV()" style="float:right"></button>
        <div style="text-align:left">
          <p-multiSelect [options]="columnOptions" [(ngModel)]="cols" (onChange)="colsChanged" scrollHeight="545px" styleClass="col-selector"></p-multiSelect>
        </div>
      </p-header>
      <p-column *ngFor="let col of cols | sortBy : 'pos'" [field]="col.field" [header]="col.header" [filter]="col.filter" [filterMatchMode]="col.filterMatchMode ? col.filterMatchMode : 'contains'" [sortable]="true" [styleClass]="col.class">
        <ng-template *ngIf="col.field === 'modified'" let-item let-data="rowData" pTemplate type="body">
          <span [title]="data.lastMessage | date:'dd.MM.yyy &nbsp;&nbsp;HH:mm'">{{data.timeAgo}}</span>
        </ng-template>

        <ng-template *ngIf="col.field === 'domains'" let-item let-data="rowData" pTemplate type="body">
          <a *ngIf="data.domains && data.domains.length > 0" [href]="'http://' + data.domains[0].url" target="_blank">{{data.domains[0].name}}</a>
          <span style="float:right; color: #aaa;" *ngIf="data.domains.length > 1">[+{{data.domains.length}}]</span>
        </ng-template>

        <ng-template *ngIf="col.field === 'prod'" let-item let-data="rowData" pTemplate type="body">
          <i class="fa fa-check" *ngIf="data.prod"></i>
        </ng-template>

        <ng-template *ngIf="col.field === 'type'" let-item let-data="rowData" pTemplate type="body">
          <img [src]="instance.instanceType?.image" [alt]="instance.instanceType?.name">
        </ng-template>

        <ng-template *ngIf="col.field === 'status'" let-item let-data="rowData" pTemplate type="body">
          {{data.status}} <small title="Responsetime"> [{{data.responseTime}}ms]</small>
        </ng-template>
      </p-column>
    </p-dataTable>

  </div>
</div>



