<div class="ui-g" *ngIf="instance">
  <div class="ui-g-6">
    <p-panel>
      <p-header>
        <div class="ui-helper-clearfix">
          <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Sent Information</span>
          <button pButton type="button" label="Delete" (click)="delete()" style="float: right;"></button>
        </div>
      </p-header>
      <form-row [editable]="false" label="Identifier" [(ngModel)]="instance.identifier"></form-row>
      <form-row [editable]="false" label="Type" [(ngModel)]="instance.type">
        <ng-template>
          <img [src]="'data:image/png;base64,' + instance.instanceType?.image" [alt]="instance.instanceType?.name">
        </ng-template>
      </form-row>
      <form-row [editable]="false" label="Version" [(ngModel)]="instance.version"></form-row>
      <form-row [editable]="false" label="Customer" [(ngModel)]="instance.licensedFor"></form-row>
      <form-row [editable]="false" label="Production-System" [(ngModel)]="instance.prod"></form-row>
      <form-row [editable]="false" label="Installed on" [(ngModel)]="instance.server">
        <ng-template>
          {{instance.server?.serverName}}<br>{{instance.server?.ip}}
        </ng-template>
      </form-row>
      <form-row [editable]="false" label="Port" [(ngModel)]="instance.port"></form-row>
    </p-panel>
    <p-panel header="DeMonToo-Settings">
      <div class="ui-grid-row">
        <div class="ui-grid-col-5">
          Exclude from Healthcheck
        </div>
        <div class="ui-grid-col-7">
          <input type="checkbox" [(ngModel)]="instance.excludeFromHealthcheck" (change)="save()">
        </div>
      </div>
    </p-panel>
    <p-panel header="Domänen">
      <div *ngFor="let domain of instance.domains">
        <a [href]="'http://' + domain.url">{{domain.name}}</a>
      </div>
    </p-panel>
  </div>
  <div class="ui-g-6">
    <p-panel [header]="cat.key" *ngFor="let cat of instance.instanceDetailsByCategory | keys | sortBy:'key'">
      <form-row *ngFor="let det of cat.value | sortBy:'key'" [editable]="false" [label]="det.key" [(ngModel)]="det.value"></form-row>
    </p-panel>
  </div>
</div>
