.col-icon {
  width: 50px;
}

.pending {
  opacity: 0.6;
}

tr {
  background-color: white !important;
}

.ok {
  box-shadow: inset 5px 0 0 0 #4CAF50;
}

.excluded-from-healthcheck {
  opacity: 0.6;
  box-shadow: inset 5px 0 0 0 grey;
}

.critical {
  background: red !important;
}

.testcritical {
  background: #ffcb6d !important;
}

.col-selector .ui-multiselect-panel {
  height: 600px;
  width: 400px;
}

.col-align-right {
  text-align: right;
}
