.ui-tabview-nav li a {
  padding: 5px !important;
  font-size: 12px;
  font-weight: normal;
}

.table-condensed th {
  padding: 2px;
  font-size: 0.9em;
}

body button.ui-button {
  background-color: lightgrey;
  color: #000;
  border: #6f6f6f;
}

input:focus {
  box-shadow: 0 0 1px 2px #3f6ef785 inset !important;
}

:not(body) > .ui-datepicker {
  width: 350px !important;
  top: unset !important;
  left: unset !important;
}

.ui-fileupload-choose {
  overflow: visible !important;
}

.ui-tooltip.ui-tooltip-top {
  z-index: 101000000 !important;
}

.ui-fileupload-choose > input {
  max-width: 100%;
  max-height: 100%;
}

textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body .ui-widget {
  font-family: 'Roboto', sans-serif !important;
  font-size: 13px !important;
}

body .ui-inputtext {
  font-size: 13px !important
}

span {
  font-size: 13px;
}

@font-face { font-family: 'opensansCondensed'; src: url("/fonts/OpenSansCondensed-Bold.ttf") format('truetype'); }

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  font-size: 12px;
}

.card-block-button {
  cursor: pointer;
}

.card-block-button:hover {
  background-color: #dcdcdc;
  box-shadow: inset 0px 0px 8px 0px #757575;
}

/*** Angular 2 link without href ***/
/*a:not([href]) {*/
/*color: blue !important;*/
/*text-decoration: underline !important;*/
/*cursor: pointer !important;*/
/*}*/

.card {
  margin-bottom: 20px;
}

.tab-content {
  padding: 20px 10px;
}

.list-group-item-clickable {
  cursor: pointer;
}

.list-group-item-clickable:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover tbody tr:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.blurred {
  -webkit-filter: opacity(50%) !important;
  -moz-filter: opacity(50%) !important;
  -o-filter: opacity(50%) !important;
  filter: opacity(50%) !important;
}

a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

input[type="checkbox"].large {
  transform: scale(2, 2);
}

p-panel ~ p-panel > .ui-panel {
  margin-top: 10px;
}

.ui-datatable-data tr {
  cursor: pointer;
}
