<div class="ui-grid-row">
  <div class="ui-grid-col-5 inline-edit-description">
    {{label}}
  </div>
  <div class="ui-grid-col-7">
    <div *ngIf="innerTemplate" class="templateContainer">
      <ng-container *ngTemplateOutlet="innerTemplate;">
      </ng-container>
    </div>

    <div *ngIf="!innerTemplate">
      <div *ngIf="editing || permanentFormField">
        <input pInputText *ngIf="!options && !rows" #inlineEdit [required]="required" (blur)="save($event)" [name]="value" [(ngModel)]="value" [type]="type" [placeholder]="label"/>
        <select *ngIf="options && !rows" #inlineEdit [required]="required" (blur)="save($event)" [name]="value" [(ngModel)]="value">
          <option *ngFor="let item of options" [ngValue]="optionValue ? item[optionValue] : item">{{optionLabel ? item[optionLabel] : item}}</option>
        </select>
        <textarea *ngIf="rows" #inlineEdit [required]="required" (blur)="save($event)" [name]="value" [(ngModel)]="value" [rows]="rows">
        </textarea>
        <span *ngIf="!permanentFormField" class="inline-edit-save-box" (click)="save($event);">
        <span *ngIf="!permanentFormField" class="fa fa-check"></span>
      </span>
      </div>
      <div *ngIf="!editing && !permanentFormField">
        <span (click)="edit(value)" (focus)="edit(value);" tabindex="0" class="inline-edit" [ngClass]="{'editable': editable, 'empty': !value}" style="white-space: pre-wrap;">{{value ? getValue(value) : (editable ? "Click to edit" : "n.a.")}}&nbsp;</span>
        <span class="inline-edit-icon-box">
        <span class="fa fa-pencil"></span>
      </span>
      </div>
    </div>
  </div>
</div>
